<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">
      Projetos
    </h1>

    <%= link_to "Novo projeto", new_project_path,
                                class: "btn-primary",
                                data: { turbo_frame: dom_id(Project.new) } %>
  </div>

  <div class="flex flex-col gap-2 mt-2">
    <%= turbo_frame_tag Project.new %>
    <%= turbo_frame_tag 'projects', class: 'flex flex-col gap-2' do %>

        <%= render @projects %>

        <%== pagy_nav(@pagy) %>

    <% end %>
  </div>

